<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>personListUrl</key>
	<string>http://www.mocky.io/v2/5ed55b0f330000a72df7a9d1</string>
	<key>baseUrl</key>
	<string>http://www.mocky.io/v2/5d126e8b3100002fc508d357</string>
	<key>login</key>
	<string>logggggg</string>
</dict>
</plist>
